<template>
  <div>
    <section class="hero is-danger is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-3-desktop is-1-mobile is-multiline">
          <Section
            v-for="rule in rules"
            :key="rule.section"
            :section="rule.section"
            :color="rule.color"
            :icon="rule.icon"
            :text="rule.text"
            @ready="scrollOnReady"
            @scroll="scroll"/>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Section from '~/components/rules/Section.vue'

import rule from '~/utils/rule'

export default {
  components: {
    Section
  },
  data() {
    return rule.getHero(this.$route.params.regra)
  },
  asyncData({ $axios, route, error }) {
    const type = {
      gerais: 1,
      jobs: 2
    }[route.params.regra]
    if (!type) {
      return error({ statusCode: 404, message: 'Nenhuma regra encontrada' })
    }
    return $axios
      .$get('api/rules/get', {
        params: {
          type,
          detailed: true
        }
      })
      .then(res => {
        return {
          rules: res
        }
      })
      .catch(err => {
        return error({ statusCode: 500, message: err.message })
      })
  },
  methods: {
    scrollOnReady(hash) {
      if (this.$route.hash && this.$route.hash === `#${hash}`) {
        setTimeout(() => {
          this.scroll(hash)
        }, 50)
      }
    },
    scroll(hash) {
      this.$scrollTo(`#${hash}`, {
        offset: -60
      })
    }
  }
}
</script>


<style scoped>
/* .title {
  font-family: 'Segoe UI Light';
  font-weight: 300;
  font-size: 50px;
  color: #35495e;
  letter-spacing: 1px;
} */

.section {
  padding: 1.5rem;
}
</style>
