<template>
  <div>
    <section class="hero is-danger is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Regras
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <menu-section
          v-for="section in rules"
          :key="section._id"
          :section="section._id"
          :rules="section.rules"/>
      </div>
    </section>
  </div>
  <!-- <div class="columns">
        <div
          v-for="rule in rules"
          :key="rule._id"
          class="column is-6">
          <div class="message is-info">
            <!- <div class="message-header">
              {{ ruleName(rule) }}
            </div> -
            <div class="message-body">
              <h3 class="title is-4">
                {{ ruleName(rule) }}
              </h3>
              <span>
                <nuxt-link
                  v-for="hash in rule.rules"
                  :key="hash">
                </nuxt-link>
              </span>
            </div>
          </div>
        </div>
      </div> -->
</template>

<script>
import MenuSection from '~/components/rules/MenuSection.vue'

import rule from '~/utils/rule'

export default {
  components: {
    MenuSection
  },
  asyncData({ $axios, error }) {
    return $axios
      .$get('api/rules/get')
      .then(res => {
        return {
          rules: res
        }
      })
      .catch(err => {
        return error({ statusCode: 500, message: err.message })
      })
  }
}
</script>


<style scoped>
</style>
