<template>
  <div
    v-if="!!id && !!username && !!discriminator && !!avatar"
    class="column is-4">
    <div
      class="box"
      data-aos="flip-up"
      data-aos-once="true">
      <article class="media">
        <figure class="media-left image is-96x96">
          <img
            :src="avatarURL"
            class="is-rounded"
            @error="imageLoadError()">
        </figure>
        <div class="media-content has-text-centered">
          <div class="columns is-multiline is-centered is-vcentered">
            <div class="column is-full">
              <button
                class="button is-white is-tooltip-dark tooltip"
                data-tooltip="Copiar"
                @click="copyUserToClipboard">
                <span class="icon">
                  <i class="fab fa-discord fa-lg"/>
                </span>
                <span class="has-text-weight-semibold">
                  {{ username }}<span class="has-text-weight-normal is-size-7">#{{ discriminator }}</span>
                </span>
              </button>
            </div>
            <div
              v-if="steam"
              class="column is-full">
              <a
                :href="steamProfileURL"
                class="button is-white is-tooltip-dark tooltip"
                data-tooltip="Abrir perfil">
                <span class="icon">
                  <i class="fab fa-steam fa-lg"/>
                </span>
                <span class="has-text-weight-semibold">
                  {{ steam.name }}
                </span>
              </a>
            </div>
          </div>
        </div>
      </article>
      <!-- <div class="columns is-1 is-centered is-multiline">
        <div class="column is-6">
          <div class="content">
            <figure class="image is-96x96">
              <img
                :src="avatarURL"
                class="is-rounded"
                @error="imageLoadError()">
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h4 class="subtitle is-4">
              {{ username }}#{{ discriminator }}
            </h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import discord from '~/utils/discord.js'

export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    username: {
      type: String,
      default: ''
    },
    discriminator: {
      type: String,
      default: ''
    },
    avatar: {
      type: String,
      default: ''
    },
    steam: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      avatarURL: '',
      user: {
        id: this.id,
        username: this.username,
        discriminator: this.discriminator,
        avatar: this.avatar,
        steam: this.steam
      }
    }
  },
  computed: {
    steamProfileURL() {
      return `
        https://steamcommunity.com/profiles/${this.steam.id}
      `
    }
  },
  created() {
    this.avatarURL = discord.normalAvatarURL(this.user)
  },
  methods: {
    imageLoadError() {
      this.avatarURL = discord.defaultAvatarURL(this.user)
    },
    copyUserToClipboard() {
      navigator.clipboard
        .writeText(`${this.username}#${this.discriminator}`)
        .then(() => {
          this.$toast.open({
            message: 'Nome de usuário copiado!',
            type: 'is-info',
            position: 'is-bottom-right'
          })
        })
        .catch(err => {})
    }
  }
}
</script>

<style scoped>
.image img.is-rounded {
  border-radius: 10px !important;
}
</style>
