<template>
  <div>
    <div class="content has-text-centered">
      <h4 class="title is-4">
        {{ roleName }}
      </h4>
    </div>
    <div class="columns is-multiline is-centered">
      <staff-user
        v-for="user in users"
        :key="user.id"
        :username="user.username"
        :id="user.id"
        :discriminator="user.discriminator"
        :avatar="user.avatar"
        :steam="user.steam"/>
    </div>
    <hr v-if="role !== 1">
  </div>
  <!-- <div
    v-if="users[0].id"
    class="column is-full">
    <div>
      <div class="columns is-multiline is-centered has-text-centered">
        <!1-- <div class="column is-full">
          <p class="subtitle is-3">{{ roleName }}</p>
        </div> -1->
        <staff-user
          v-for="user in users"
          :key="user.username"
          :username="user.username"
          :id="user.id"
          :discriminator="user.discriminator"
          :avatar="user.avatar"/>
      </div>
    </div>
    <hr>
  </div> -->
</template>

<script>
import StaffUser from '~/components/staff/StaffUser.vue'

export default {
  components: {
    StaffUser
  },
  props: {
    role: {
      type: Number,
      default: 0
    },
    users: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    roleName() {
      if (this.users.length <= 1) {
        return [
          'Operador',
          'Moderador',
          'Administrador',
          'Super Administrador',
          'Desenvolvedor',
          'Dono'
        ][this.role - 1]
      } else {
        return [
          'Operadores',
          'Moderadores',
          'Administradores',
          'Super Administradores',
          'Desenvolvedores',
          'Donos'
        ][this.role - 1]
      }
    }
  }
}
</script>
