<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        Made with
        <i class="fas fa-heart has-text-danger"/>
        by 
        <a
          class="has-text-weight-bold"
          href="https://github.com/jpsl00">
          jpsl00
        </a>
      </div>
      <!-- </div> -->
      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="content has-text-centered">
            <p class="control has-text-centered">
              <a 
                class="button is-warning"
                href="https://discord.gg/SkvMAt6">
                <span class="icon">
                  <i class="fab fa-discord fa-lg"/>
                </span>
                <span>
                  Discord
                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="content has-text-centered">
            <ad/>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  methods: {
    login() {
      this.$auth.loginWith('discord').then(() =>
        this.$toast.open({
          message: 'Logged in successfully!',
          type: 'is-success',
          position: 'is-bottom-right'
        })
      )
    }
  }
}
</script>
