<template>
  <nav
    :class="['navbar', 'is-fixed-top', dashboard ? 'is-dark' : 'is-light']">
    <div class="container">
      <div class="navbar-brand">
        <!-- <nuxt-link
          to="/"
          class="navbar-item">
          <span class="icon is-medium">
            <img
              src="~/assets/logo.png"
              class="is-square">
          </span>
          <span>
            PoweredRP
          </span>
        </nuxt-link> -->
        <nuxt-link
          v-if="dashboard"
          to="/dashboard"
          class="navbar-item">
          <img
            src="~/assets/navbarDashboard.png"
            width="140"
            height="28"
            alt="Powered">
        </nuxt-link>
        <nuxt-link
          v-else
          to="/"
          class="navbar-item">
          <img
            src="~/assets/navbarBrand.png"
            width="118"
            height="28"
            alt="Powered">
        </nuxt-link>
      
        <a
          v-if="$route.name !== 'oauth2-callback'"
          :class="['navbar-burger', 'burger', { 'is-active': burger }]"
          data-target="navbar"
          @click="toggleBurger">
          <span/>
          <span/>
          <span/>
        </a>
      </div>

      <div
        v-if="$route.name !== 'oauth2-callback'"
        id="navbar"
        :class="['navbar-menu', { 'is-active': burger }]">
        <div
          v-if="dashboard"
          class="navbar-start">
          <nuxt-link
            to="/dashboard/regras"
            class="navbar-item"
            exact-active-class="is-active">
            <span class="icon">
              <i class="fas fa-edit"/>
            </span>
            <span>
              Regras
            </span>
          </nuxt-link>
        </div>
        <div
          v-else
          class="navbar-start">
          <!-- <nuxt-link
            to="/"
            class="navbar-item">
            <span class="icon">
              <fa
                :icon="['fas', 'home']"
                class="is-hidden-touch"/>
              <b-icon
                icon="home"
                class="is-hidden-desktop"/>
            </span>
            <span>
              Home
            </span>
          </nuxt-link> -->
          <div class="navbar-item has-dropdown is-hoverable">
            <nuxt-link
              to="/regras"
              class="navbar-link"
              active-class="is-active">
              <span class="icon">
                <i class="fas fa-gavel"/>
              </span>
              <span>
                Regras
              </span>
            </nuxt-link>
            <div class="navbar-dropdown">
              <nuxt-link
                to="/regras/gerais"
                class="navbar-item"
                active-class="is-active">
                <span>
                  Gerais
                </span>
              </nuxt-link>
              <nuxt-link
                to="/regras/jobs"
                class="navbar-item"
                active-class="is-active">
                <span>
                  Jobs
                </span>
              </nuxt-link>
            </div>
          </div>
          <nuxt-link
            to="/tutoriais"
            class="navbar-item"
            active-class="is-active">
            <span class="icon">
              <i class="fas fa-user-graduate"/>
            </span>
            <span>
              Tutoriais
            </span>
          </nuxt-link>
          <nuxt-link
            to="/staff"
            class="navbar-item"
            active-class="is-active">
            <span class="icon">
              <i class="fas fa-user-shield"/>
            </span>
            <span>
              Staff
            </span>
          </nuxt-link>
        </div>

        <div class="navbar-end">
          <div
            v-if="$auth.loggedIn"
            class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-hidden-touch">
              <figure class="image is-24x24 is-square">
                <img
                  :src="avatarURL"
                  class="is-rounded"
                  alt="Profile">
              </figure>
            </a>

            <div class="navbar-dropdown is-right">
              <div class="navbar-item">
                <span>
                  Bem-vindo, <span class="has-text-weight-bold">{{ $auth.user.username }}</span>
                </span>
              </div>
              <hr class="navbar-divider">
              <nuxt-link
                v-if="roleCheck(2)"
                to="/dashboard"
                class="navbar-item"
                active-class="is-active">
                <span class="icon">
                  <i class="fas fa-tools"/>
                </span>
                <span>
                  Dashboard
                </span>
              </nuxt-link>
              <nuxt-link
                to="/"
                class="navbar-item"
                exact-active-class="is-active">
                <span class="icon">
                  <i class="fas fa-home"/>
                </span>
                <span>
                  Home
                </span>
              </nuxt-link>
              <hr class="navbar-divider">
              <a
                class="navbar-item"
                @click="$auth.logout()">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"/>
                </span>
                <span>
                  Sair
                </span>
              </a>
            </div>
          </div>

          <div
            v-else-if="this.$route.name !== 'oauth2-login'"
            class="navbar-item">
            <a
              class="button is-primary"
              @click="$auth.login()">
              <span class="icon">
                <i class="fas fa-sign-in-alt"/>
              </span>
              <span>
                Entrar
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import auth from '~/utils/auth.js'
import discord from '~/utils/discord.js'

export default {
  props: {
    dashboard: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      burger: false
    }
  },
  computed: {
    avatarURL() {
      try {
        return discord.normalAvatarURL(this.$auth.user)
      } catch (e) {
        this.$auth.logout()
      }
    }
  },
  created() {
    this.$auth.$storage.watchState('loggedIn', val => {
      console.log(val)
      if (val) console.log('Logado')
      else console.logs('Deslogado')
    })
  },
  methods: {
    roleCheck(minimum) {
      return auth.roleCheck(this.$auth, minimum)
    },
    toggleBurger() {
      this.burger = !this.burger
    }
  }
}
</script>


<style scoped>
.profile-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-brand .navbar-item {
  font-family: 'Righteous', cursive;
}
</style>
