<template>
  <section class="hero is-success is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <button class="button is-dark is-rounded is-loading is-medium"/>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  /* beforeMount() {
    this.$toast.open({
      message: 'Logged in successfully!',
      type: 'is-success',
      position: 'is-bottom-right'
    })
  } */
}
</script>
