<template>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        You can close this window now
      </div>
    </div>
  </section>
</template>


<script>
export default {
  mounted() {
    this.$nuxt.$emit('test')
  }
}
</script>
