<template>
  <section class="hero is-success is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column box is-4">
            <article class="media">
              <span class="media-left icon is-large has-text-dark">
                <i class="fas fa-user-circle fa-2x"/>
              </span>
              <div class="media-content">
                <h2 class="is-2 has-text-dark title">
                  Login
                </h2>
                <h5 class="is-5 has-text-dark subtitle">
                  Entre para continuar
                </h5>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item">
                      <nuxt-link
                        to="/"
                        class="button is-text">
                        <span class="icon">
                          <i class="fas fa-arrow-left"/>
                        </span>
                        <span>
                          Home
                        </span>
                      </nuxt-link>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <a
                        class="button is-dark"
                        @click="$auth.login()">
                        <span class="icon">
                          <i class="fas fa-sign-in-alt"/>
                        </span>
                        <span>
                          Login
                        </span>
                      </a>
                    </div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  created() {
    if (this.$auth.loggedIn) {
      this.$router.push({
        path: '/'
      })
    }
  }
}
</script>
