<template>
  <section>
    <b-field label="Nome">
      <b-input v-model="name"/>
    </b-field>

    <b-field label="Categoria">
      <b-select
        placeholder="Selecione uma categoria"
        required>
        <option value="1">Geral</option>
        <option value="2">Jobs</option>
      </b-select>  
    </b-field>
    <b-field label="Cor">
      <b-select placeholder="Selecione a cor">
        <option value="is-white">Branco</option>
        <option value="is-black">Preto</option>
        <option value="is-light">Cinza-claro</option>
        <option value="is-dark">Cinza-escuro</option>
        <option value="is-primary">Azul-esverdiado</option>
        <option value="is-info">Azul</option>
        <option value="is-success">Verde</option>
        <option value="is-warning">Amarelo</option>
        <option value="is-danger">Vermelho</option>
      </b-select>
    </b-field>
  </section>
</template>

<script>
export default {
  data() {
    return {
      name: 'no-name'
    }
  }
}
</script>
