<template>
  <li
    @mouseover="hover = true"
    @mouseleave="hover = false">
    <a>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            {{ rule }}
          </div>
        </div>
        <div class="level-right">
          <div :class="['level-item', 'is-hidden-touch', { 'is-hidden': !hover }]">
            <span
              class="icon has-text-danger"
              @click="remove">
              <i class="fas fa-trash-alt"/>
            </span>
          </div>
        </div>
      </nav>
    </a>
  </li>
</template>

<script>
export default {
  props: {
    rule: {
      type: String,
      default: 'no-name-defined!?'
    }
  },
  data() {
    return {
      hover: false
    }
  },
  methods: {
    remove() {
      this.$dialog.confirm({
        title: `Confirmar remoção`,
        message: `
          Você tem certeza que deseja remover a regra ${this.rule}?\n
          Esta ação é irreversível...
        `,
        cancelText: 'Cancelar',
        confirmText: 'Remover',
        hasIcon: true,
        type: 'is-danger',
        onConfirm: () => this.$emit('remove', this.rule)
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.level-item
  transition: all 0.2s ease-in
  opacity: 1
  &.is-hidden
    display: inherit !important
    opacity: 0
</style>
