<template>
  <aside class="menu">
    <p class="menu-label">
      {{ name }}
    </p>
    <ul class="menu-">
      <quickviewMenuItem
        v-for="rule in rules"
        :key="rule"
        :rule="rule"
        @remove="handleRemove"/>
    </ul>
  </aside>
</template>

<script>
import QuickviewMenuItem from '~/components/dashboard/rules/QuickviewMenuItem.vue'

export default {
  components: {
    QuickviewMenuItem
  },
  props: {
    name: {
      type: String,
      default: 'no-name-defined!?'
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    handleRemove(rule) {
      const index = this.rules.findIndex(el => el === rule)
      this.rules.splice(index, 1)
    }
  }
}
</script>
