<template>
  <div
    id="sidebar"
    class="quickview">
    <header class="quickview-header is-dark">
      <p class="title">Navegação</p>
      <span
        class="delete"
        data-dismiss="quickview"/>
    </header>

    <div class="quickview-body is-black">
      <div class="quickview-block">
        <quickviewMenuSection
          v-for="rule in rules"
          :key="rule.id.$numberLong"
          :name="rule.name"
          :rules="rule.rules"/>
      </div>
    </div>

    <footer class="quickview-footer">
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <a class="button is-link">
              <span class="icon">
                <i class="fas fa-sync"/>
              </span>
              <span>
                Recarregar
              </span>
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <nuxt-link
              class="button is-primary"
              to="/dashboard/regras/new">
              <span class="icon">
                <i class="fas fa-plus"/>
              </span>
              <span>
                Nova
              </span>
            </nuxt-link>
          </div>
        </div>
      </nav>
    </footer>
  </div>
</template>

<script>
import QuickviewMenuSection from '~/components/dashboard/rules/QuickviewMenuSection.vue'

export default {
  components: {
    QuickviewMenuSection
  },
  props: {
    rules: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="sass" scoped>
.menu
  padding: 1rem

.level
  width: 100%

.title
  margin-bottom: 0
</style>
