<template>
  <section class="section">
    <div class="container">
      <editor/>
    </div>
  </section>
</template>

<script>
import Editor from '~/components/dashboard/rules/Editor.vue'

export default {
  components: {
    Editor
  }
}
</script>
