<template>
  <li>
    <nuxt-link
      :to="'/regras/'+route+'#'+hash">
      {{ name }}
    </nuxt-link>
  </li>
</template>

<script>
import rule from '~/utils/rule'

export default {
  props: {
    route: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    }
  },
  computed: {
    hash() {
      return rule.getHash(this.name)
    }
  }
}
</script>
