<template>
  <div>
    <aside class="menu">
      <nuxt-link
        :to="'/regras/'+path"
        tag="p"
        class="menu-label">
        {{ ruleName }}
      </nuxt-link>
      <ul class="menu-list">
        <menu-link
          v-for="rule in rules"
          :key="rule"
          :name="rule"
          :route="path"/>
      </ul>
    </aside>
    <hr v-if="parseInt(section) !== 2">
  </div>
</template>

<script>
import MenuLink from '~/components/rules/MenuLink.vue'

import rule from '~/utils/rule'

export default {
  components: {
    MenuLink
  },
  props: {
    section: {
      type: String,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ruleName() {
      return rule.getName(this.section)
    },
    path() {
      return rule.getPath(this.section)
    }
  }
}
</script>
