<template>
  <div
    :id="getHash"
    class="column is-full">
    <article
      :class="'message '+(color || 'is-light')"
      data-aos="fade-up"
      data-aos-once="true">
      <div class="message-header">
        <div>
          <span class="icon is-large has-text-centered">    
            <i :class="['fas', `fa-${icon}` || 'fa-circle', 'fa-2x']"/>
          </span>
          <span class="is-size-3-desktop is-size-4-touch">
            {{ section || '❌' }}
          </span>
        </div>
        <a
          :class="'button is-white is-outlined tooltip is-tooltip-'+invertedColor+' is-'+invertedColor"
          data-tooltip="Copiar link direto"
          @click="copyButton">
          <span class="icon is-medium">
            <i
              class="fas fa-link fa-fw"
              @click="copyButton"/>
          </span>
        </a> 
        <!-- <span class="icon is-large has-text-centered">    
          <fa
            :icon="['fas', 'link']"
            class=""/>
        </span> -->
      </div>
      <div class="message-body">
        <markdown :text="text.join('\n')"/>
      </div>
    </article>
  </div>
</template>

<script>
import rule from '~/utils/rule'

import Markdown from '~/components/reusable/Markdown.vue'

export default {
  asyncData(context) {
    return {
      production: !context.isDev
    }
  },
  components: {
    Markdown
  },
  props: {
    section: {
      type: String,
      default: () => '❌'
    },
    color: {
      type: String,
      default: () => 'is-danger'
    },
    icon: {
      type: String,
      default: () => 'circle'
    },
    text: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    invertedColor() {
      const color = this.color
      if (!color) return 'dark'
      else if (
        color === 'is-warning' ||
        color === 'is-white' ||
        color === 'is-light'
      )
        return 'dark'
      else return 'white'
    },
    getHash() {
      return rule.getHash(this.section)
    }
  },
  mounted() {
    this.$emit('ready', this.getHash)
  },
  methods: {
    copyButton() {
      navigator.clipboard
        .writeText(
          `${window.location.origin}${this.$route.path}#${this.getHash}`
        )
        .then(() => {
          this.$emit('scroll', this.getHash)
          this.$toast.open({
            message: 'Link copiado!',
            type: 'is-info',
            position: 'is-bottom-right'
          })
        })
        .catch(err => {})
    }
  }
}
</script>
