<template>
  <div>
    <section class="hero is-primary is-large is-bold has-carousel">
      <div
        class="hero-carousel carousel-animated carousel-animate-fade"
        data-autoplay="true">
        <div class="carousel-container">
          <div class="carousel-item has-background is-active">
            <img
              class="is-background"
              src="https://wikiki.github.io/images/merry-christmas.jpg"
              alt="">
          </div>
          <div class="carousel-item has-background">
            <img
              class="is-background"
              src="https://wikiki.github.io/images/singer.jpg"
              alt="">
          </div>
          <div class="carousel-item has-background">
            <img
              class="is-background"
              src="https://wikiki.github.io/images/sushi.jpg"
              alt="">
          </div>
          <div class="carousel-item has-background">
            <img
              class="is-background"
              src="https://wikiki.github.io/images/life.jpg"
              alt="">
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 is-main">
            Powered
          </h1>
          <h2 class="subtitle is-5 is-main">
            Servidores de RP
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns is-centered is-multiline">
        <div class="column is-full-desktop is-6-fullhd">
          <div class="content">
            <h3 class="title is-3">
              DarkRP
            </h3>
            <span>
              Em breve
            </span>
          </div>
        </div>
        <div class="column is-full-desktop is-6-fullhd">
          <div class="content">
            <h3 class="title is-3">
              HL2RP
            </h3>
            <span>
              Em breve
            </span>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="section">
      <div class="columns is-centered">
        <div class="column is-12-touch is-8-desktop">
          <nav class="level is-mobile">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">
                  Profissões
                </p>
                <p class="title">
                  74
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">
                  Armas
                </p>
                <p class="title">
                  39
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">
                  Diversão
                </p>
                <p class="title">
                  ∞
                </p>
              </div>
            </div>
          </nav>
        </div>
      </div>
      
    </section> -->
    <hr>
    <!-- <section class="section">
      <div class="columns">
        <div class="column is-8 is-hidden-touch">
          <div class="pricing-table is-comparative">
            <div class="pricing-plan is-features">
              <div class="plan-header">
                Benefícios
              </div>
              <div class="plan-price">
                <span class="plan-price-amount">&nbsp;</span>
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  <b-icon icon="car"/>
                  <span>Todos os Veículos</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="dog"/>
                  <span>Todos os Pets</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="user"/>
                  <span>Todas as Profissões</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="box"/>
                  <span>Todos os Shipments</span>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="discord"
                    pack="fab"/>
                  <span>Cargo no Discord</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="money-bill"/>
                  <span>Bônus de Dinheiro</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="terminal"/>
                  <span>Comandos Extra</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="superscript"/>
                  <span>Expression2</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="star"/>
                  <span>Job Exclusiva</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="flask"/>
                  <span>Dobro de XP</span>
                </div>
                <div class="plan-item">
                  <b-icon icon="money-check-alt"/>
                  <span>Tipo de conta no ATM</span>
                </div>
              </div>
              <div class="plan-footer">
                &nbsp;
              </div>
            </div>
            <div class="pricing-plan">
              <div class="plan-header">
                Jogadores
              </div>
              <div class="plan-price">
                <span class="plan-price-amount">&nbsp;</span>
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <span class="icon">
                    Padrão
                  </span>
                </div>
              </div>
              <div class="plan-footer">
                &nbsp;
              </div>
            </div>
            <div class="pricing-plan is-warning is-active">
              <div class="plan-header">
                VIP
              </div>
              <div class="plan-price">
                <span class="plan-price-amount"><span class="plan-price-currency">R$</span>20</span>/mês
                <span class="">OU</span>
                <span class="plan-price-amount"><span class="plan-price-currency">R$</span>45</span>/3 meses
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                  <span>R$10000</span>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                  <span>!votegag & !votemute</span>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="times-circle"
                    type="is-danger"/>
                </div>
                <div class="plan-item">
                  <span class="icon">
                    Bronze
                  </span>
                </div>
              </div>
              <div class="plan-footer">
                &nbsp;
              </div>
            </div>
            <div class="pricing-plan is-info">
              <div class="plan-header">
                VIP+
              </div>
              <div class="plan-price">
                <span class="plan-price-amount"><span class="plan-price-currency">R$</span>35</span>/mês
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                  <span>R$25000</span>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                  <span>!votegag, !votemute & !votekick</span>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <b-icon
                    icon="check-circle"
                    type="is-success"/>
                </div>
                <div class="plan-item">
                  <span class="icon">
                    Silver
                  </span>
                </div>
              </div>
              <div class="plan-footer">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4-desktop is-full-touch">
          TEST
        </div>
      </div>
    </section>
    <hr> -->
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-3-desktop is-1-mobile">
          <div class="column is-8">
            <div class="box is-dark">
              Coluna 1
            </div>
          </div>
          <div class="column">
            <div class="box">
              Coluna 2
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { bulmaCarousel } from 'bulma-extensions/dist/js/bulma-extensions.min.js'

export default {
  mounted() {
    bulmaCarousel.attach()
  }
}
</script>


<style scoped>
h1.title {
  font-family: 'Righteous', cursive;
  font-weight: 300;
  /*font-size: 75px;*/
  /*color: #35495e;*/
  /* letter-spacing: 1px; */
}

.section {
  padding: 1.5rem;
}

/*.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}*/
</style>
