<template>
  <div>
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Staff
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <staff-section
          v-for="role in roles"
          :key="role._id"
          :role="Number.parseInt(role._id)"
          :users="role.users"/>
      </div>
    </section>
  </div>
</template>

<script>
import StaffSection from '~/components/staff/StaffSection.vue'

export default {
  components: {
    StaffSection
  },
  asyncData({ $axios }) {
    return $axios.$get('api/staff/all').then(res => {
      return { roles: res }
    })
  }
}
</script>

<style scoped>
</style>
