<template>
  <div>
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Painel de Admin
          </h1>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  middleware: ['auth', '3+']
}
</script>
