<template>
  <div>
    <quickviewMenu :rules="rules"/>
    <a
      class="button is-centered has-text-centered is-link is-medium burger"
      data-show="quickview"
      data-target="sidebar">
      <i class="fas fa-bars"/>
    </a>
    <nuxt-child/>
  </div>
</template>

<script>
import QuickviewMenu from '~/components/dashboard/rules/QuickviewMenu.vue'

import { bulmaQuickview } from 'bulma-extensions/dist/js/bulma-extensions.min.js'

export default {
  middleware: ['auth', '3+'],
  components: {
    QuickviewMenu
  },
  asyncData({ $axios, error }) {
    return $axios
      .$get('api/rules/get')
      .then(res => {
        return {
          rules: res
        }
      })
      .catch(err => {
        return error({ statusCode: 500, message: err.message })
      })
  },
  mounted() {
    bulmaQuickview.attach()
  }
}
</script>

<style lang="sass" scoped>
.button
  visibility: visible !important
  float: right
  position: fixed
  right: 30px
  bottom: 30px
  border-radius: 99999px
</style>
